@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;600;700&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #F2B872;
    font-family: 'Quicksand', sans-serif;
}

main {
    padding: 16px;
    color: #BF2A2A;
}

footer {
    margin-top: 100px;
    padding: 15px 50px;
    background-color: #F28729;
    border-top: 5px solid #2DA63F;
    color: #BF2A2A;
    bottom: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

img {
    height: 200px;
    width: 200px;
}

.container {
    position: relative;
    width: 200px;
    height: 205px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2DA63F;
}

.container:hover .overlay {
    opacity: .85;
}

.overlay-text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

nav {
    border-bottom: 10px solid #2DA63F;
    padding: 16px;
    background-color: #BF2A2A;
    box-shadow: 0px 5px 5px rgb(242, 135, 41, .4);
}

.tacos-display {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    color: white;
}

a {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #2DA63F;
}

a:active {
    text-decoration: none;
}

nav a {
    font-size: 21px;
    font-weight: 700;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-decoration: underline solid #2DA63F;
}

h2 {
    color: #F24130;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 21px;
}

#subtitle {
    font-weight: 600;
    font-size: 21px;
}

h3 a {
    color: white;
}

li {
    color: white;
}

table {
    color: white;
}

table tr:nth-child(even) {
    background-color: rgb(45, 166, 63, 0.35);
}

#text-white {
    color: white;
    margin-top: 15px;
}
